<navbar title="Apps" icon="fa fa-fw fa-cubes">
</navbar>

<div class="page-container">
  <div class="page-wide">
    <h1>Apps</h1>

<!-- 		<div ng-if="!ctrl.apps"> -->
		<div class="empty-list-message-container">
			<div class="empty-list-message-item">
				<h3>Turbocharge your Grafana with <span class="color-emphasis">OpenSAAS</span></h3>
				<p class="empty-list-copy">Hello you beautiful person, living on the edge, running Grafana Master.</br>In return for being awesome, want to hear a secret?</br></br>We're furiously working on a new project called Grafana.net, which will make it easy for everyone to extend your Grafana with community powered dashboards, panels, data sources and apps*. There's actually a lot more, but it's secret still.</p>
				<p class="copy-emphasis">Grafana.net is free and you'll be of the first to know when it launches</p> 
				<p>Sneak peek you say? Sure!</br></br><img src="public/img/grafana-net-preview.png"></p>
			</div>
		</div>
		<h3>How can you use <span class="copy-emphasis">Grafana.net</span></h3>
		<div class="matt-big-container">
			<div class="matt-int-container-1">
				<div>One</div>
				<div>Two</div>
				<div>Three</div>
			</div>
			<div><img src="public/img/grafana-net-preview.png">
			</div>
		</div>

		<ul class="filter-list">
      <li ng-repeat="app in ctrl.apps">
        <ul class="filter-list-card">
					<li class="filter-list-card-image">
						<img ng-src="{{app.info.logos.small}}">
					</li>
          <li>
            <div class="filter-list-card-controls">
              <div class="filter-list-card-config">
								<a href="apps/{{app.appId}}/edit">
									<i class="fa fa-cog"></i>
								</a>
              </div>
            </div>
						<span class="filter-list-card-title">
							<a href="apps/{{app.appId}}/edit">
								{{app.name}}
							</a>
							&nbsp; &nbsp;
							<span class="label label-info" ng-if="app.enabled">
								Enabled
							</span>
							&nbsp;
							<span class="label label-info" ng-if="app.pinned">
								Pinned
							</span>

						</span>
            <span class="filter-list-card-status">
              <span class="filter-list-card-state">Dashboards: 1</span>
            </span>
          </li>
        </ul>
      </li>
		</ul>
	</div>
</div>
